.catalog {
  display: grid;
  justify-content: center;
  gap: 48px;
  grid-template-columns: $cardWidth;
  @each $size, $amount in $media {
    @media (min-width:#{$size}) {
      grid-template-columns: repeat($amount, $cardWidth);
    }
  }

  &__card {
    display: grid;
    place-items: center;
    width: $cardWidth;
    height: $cardHeight;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  &__card:not(:nth-child(4n)) {
    margin-right: 48px;
  }
}
